body{
    margin: 0px;
    padding: 0px;
    /* background: #333; */
    /* background: rgb(29, 31, 35); */
    color: white;
}
section{
    margin: 0px;
    padding: 0px;
    min-height: 500px;
}
header{
    height: 700px;
}
footer{
    margin: 0px;
    padding: 0px;
    height: 50px;
    background: rgb(29, 31, 35);
}
.page-header{
    min-height: 60px;
}
h1, h2, h3, h4{
    /* font-family: "Snell Roundhand", cursive; */
    margin: auto;
    text-align: center;
    padding: 5px;
    padding-top: 20px;
    color: rosybrown;
} 
hr{
    width: 50px;
    border-width: 3px;
    border-color: white;
}
hr:nth-child(even){
    border-color: rosybrown;
}
pre{
    overflow: visible;
    color: rosybrown !important;
}
pre:nth-child(even){
    color: white !important;
}
div::after{
    content: '';
    clear: both;
}

.fa{
    color: rosybrown;
}
section:nth-child(odd){
    background: rgb(29, 31, 35);
}

/* Header */
#name{
    color: brown!important;
}
.navbar-brand{
    text-transform: uppercase;
}
.letter-background{
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: brown;
    box-shadow: 2px 3px rgba(255, 255, 255,0.5);
    opacity: 0.5;
    margin: auto;
    top: 50px;
    left: -10;
}
.letter{
    font-size: 340px;
    text-align: center;
    position: relative;
    left: -2px;
    top: -160px;
}
#home{
    text-transform: uppercase;
}
img.header{
    width: 100%;
    height: 100%;
}
.fa{
    font-size: 50px;
}
.logo{
    margin: auto;
    float: right;
    padding-right: 7%;
    padding-top: 5px;
}
.links{
    width: auto;
    margin: auto;
    display: inline-block;
    float: right;
}

#navbar{
    width: auto;
    float: right;
}
/* About-me */
#about{
    height: 700px;
}

.content{
  height: 150px;
  width: 50%;
  background-color: transparent;
  position: relative;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  
  border: 2px solid grey;
  border-radius: 5px;
  //box-shadow: 0.5px .5px 15px grey;
  text-align: justify;
}
.content-right{
  background: transparent;
  left: 40%;    
}
.contet-left{
  margin-left: 0px;
  left: 10%;
}
.text-format-white{
  background: #fff6;
  width: 10px;
  height: 10px;
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
  margin: 2px; 
  box-shadow: 1px 1px 15px grey;
}

/* Gallary */
#gallary{
    height: 650px;
}

