<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aditya T.</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#home">Aditya Tilyalkar</a>
            <div class="collapse navbar-collapse" id="navbar">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#about">About me! <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#blog">Blog</a>
                <a class="nav-item nav-link" href="#gallary">Gallary</a>
                <a class="nav-item nav-link" href="#contact">Reach me!</a>
              </div>
            </div>
          </nav>
          <div class="logo">
              <a href="" class="fa fa-facebook"></a>
              <a href="" class="fa fa-twitter"></a>
              <a href="" class="fa fa-linkedin"></a>
              <a href="" class="fa fa-instagram"></a>
          </div>
          <div class="letter-background">
              <div class="letter">A</div>
          </div>

    </header>
    <main>
        <section id="home"></section>
        <section id="about"></section>
        <section id="blog"></section>
        <section id="gallary"></section>
        <section id="contact"></section>
    </main>
    <footer>

    </footer>
</body>
</html>