<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aditya T.</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <header id="header">
        <div class="container-fluid">
            <div class="page-header">
                <nav class="navbar navbar-toggleable-md navbar-light">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <a id="name" class="navbar-brand js-scroll-trigger" href="#header"><pre>A d i t y a  T i l y a l k a r</pre></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <div class="collapse navbar-collapse" id="navbar">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link active js-scroll-trigger" href="#about">About me!</a>
                                <a class="nav-item nav-link js-scroll-trigger" href="#blog">Blog</a>
                                <a class="nav-item nav-link js-scroll-trigger" href="#gallary">Gallary</a>
                                <a class="nav-item nav-link js-scroll-trigger" href="#contact">Reach me!</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="logo">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-linkedin"></a>
                <a href="" class="fa fa-instagram"></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="letter-background">
                    <div class="letter">A</div>
                </div>
            </div>

        </div>
    </header>
    <main>

        <section id="about">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="section-heading">
                        <pre> A b o u t   m e </pre>
                        <hr>
                    </h2>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="content contet-left">
                                <h2><span class="text-format-white">L</span>earner</h2>
                                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="text-format-white">A</span>ccusantium atque modi inventore quis veritatis debitis exercitationem provident, tempore, <span class="text-format-white">u</span>llam, reiciendis molestiae autem quidem impedit voluptates!</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="content content-right">
                                <h2><span class="text-format-white">I</span>T professional</h2>
                                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="text-format-white">A</span>ccusantium atque modi inventore quis veritatis debitis exercitationem provident, tempore, <span class="text-format-white">u</span>llam, reiciendis molestiae autem quidem impedit voluptates!</div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="content contet-left">
                                <h2><span class="text-format-white">P</span>tographer</h2>
                                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="text-format-white">A</span>ccusantium atque modi inventore quis veritatis debitis exercitationem provident, tempore, <span class="text-format-white">u</span>llam, reiciendis molestiae autem quidem impedit voluptates!</div>

                            </div>
                        </div>
                    </div>

                </div>


        </section>

        <section id="blog">
            <div class="container">
                <div class="row">
                    <h2 class="section-heading">
                        <pre> B l o g </pre>
                    </h2>
                </div>
                <hr>

        </section>

        <section id="gallary">
            <div class="container">
                <div class="row">
                    <h2 class="section-heading">
                        <pre> G a l l a r y </pre>
                    </h2>
                </div>
                <hr>

        </section>

        <section id="contact" class="js-scroll-trigger">
            <div class="container">
                <div class="row">
                    <h2 class="section-heading">
                        <pre> R e a c h   m e !  </pre>
                    </h2>
                </div>
                <hr>

        </section>
    </main>
    <footer>

    </footer>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Jquery -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src=""></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom js -->
    <script src="js/custom.js"></script>
</body>

</html>
